<div id='asin_file_input' class='box'>
    <h1>New document</h1>


  <label>
    <span>Document Name </span>
    <%= text_field_tag 'asin_file_name', nil, :class => 'input_text' %>
  </label>  

  <label>
    <span>Document File</span>
    <input id="asin_file_upload" name="asin_file_upload" type="file" class="button" />
  </label>


</div>