<p>
  <b>Name:</b>
  <%=h @survey.name %>
</p>

<ol>
  <% for question in @survey.questions  %>
    <li>
      <%= h question.content %>
    </li>
  <% end %>
</ol>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>